<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.places_vue.mapper.AttractionsMapper">

    <resultMap id="BaseResultMap" type="com.baizhi.places_vue.domain.Attractions">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="picpath" column="picpath" jdbcType="VARCHAR"/>
            <result property="hottime" column="hottime" jdbcType="TIMESTAMP"/>
            <result property="hotticket" column="hotticket" jdbcType="DOUBLE"/>
            <result property="dimticket" column="dimticket" jdbcType="DOUBLE"/>
            <result property="placedes" column="placedes" jdbcType="VARCHAR"/>
            <result property="proviceid" column="proviceid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,picpath,
        hottime,hotticket,dimticket,
        placedes,proviceid
    </sql>
</mapper>
